button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto , sans-serif;
    font-weight: bold;
    color: yellow;
        border: 2px solid  #0074d9;
        border-radius: 15px;
        margin:  5px;
        cursor: pointer;
        
}
button:hover{
    background-color:  #cc9900;
}
.boton-clic{
    background-color: blue;
    
}
.boton-reiniciar{
    background-color: #cc00ff;
}